{"filter":false,"title":".gitignore","tooltip":"/blog/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1718956368514,"hash":"5ab9e241c7b7c164901008cfd3ce9d0d8e166c4c"}