{"filter":false,"title":"phpunit.xml","tooltip":"/blog/blog/phpunit.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1718615081785,"hash":"3ceb2a5b4591f82000af3daf4e0c24d98f4b488b"}